:root {
  --primary-color: rgb(236, 236, 236);
  --secondary-color: rgb(21, 21, 21);
  --blue-color: #2bc5cd;
  --orange-color: #ff693d;
  --border: 2px solid var(--blue-color);
  --spacing: 28px;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas:
    'header school student'
    'header main time'
    'alumni footer footer';
  gap: var(--spacing);
  padding: var(--spacing);
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

header {
  grid-area: header;
  color: var(--primary-color);
  background-color: var(--blue-color);
  padding: var(--spacing);
  border: var(--border);
}

main {
  grid-area: main;
  color: var(--blue-color);
  background-color: var(--primary-color);
  padding: var(--spacing);
  border: var(--border);
  display: flex;
  align-items: center;
  justify-content: center;
}

footer {
  grid-area: footer;
  color: var(--primary-color);
  background-color: var(--orange-color);
  padding: var(--spacing);
  border: var(--border);
}

.school {
  grid-area: school;
  background-image: url(https://images03.nicepage.com/c461c07a441a5d220e8feb1a/d8ce469044b958508f4bdbab/blueschoolbackpackwithessentialsupplies_232148207678.jpg);
}

.student {
  grid-area: student;
  background-image: url(https://images03.nicepage.com/c461c07a441a5d220e8feb1a/9e4ce16148dd5cbeb1065410/89f80abe-6acd-d8dc-a341-3e571206975b.jpg);
}

.time {
  grid-area: time;
  background-image: url(https://images03.nicepage.com/c461c07a441a5d220e8feb1a/773a5aa425b1502aaac14708/f2b45624-c8f6-3aa0-0ee4-58adda3c89b0.jpg);
}

.alumni {
  grid-area: alumni;
  background-image: url(https://images03.nicepage.com/c461c07a441a5d220e8feb1a/89993ff69c3e5244ad2bf1ba/blondestudentgirlissmilingholdingfoldernotebookherhandsuniversitybackground_101969664.jpg);
}

.school,
.student,
.time,
.alumni {
  background-size: cover;
  background-position: center;
  border: var(--border);
}

section {
  min-width: 400px;
  min-height: 400px;
}

@media (max-width: 600px) {
  body {
    grid-template-columns: 1fr;
    grid-template-areas:
      'header'
      'school'
      'student'
      'main'
      'time'
      'alumni'
      'footer';
  }
  section {
    min-width: 400px;
  }
}
